/* CSS for SortableXBlock */

.sortable_block {
  margin: 10px;
}

.sortable_block .items-list li {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  display: block;
  padding: 12px !important;
  color: white;
  background: #0075b4;
  cursor: move;
  outline: none;
  border-radius: 2px;
  margin: 4px !important;
}

.sortable_block ul.items-list{
  padding-inline-start: 0;
}

.sortable_block #submit-answer{
  background: #0696e2;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  padding: 10px;
}

.sortable_block button:disabled, .sortable_block button[disabled] {
  background-color: #999999 !important;
  color: #fff !important;
}


.sortable_block .feedback .error {
  color: red;
  display: none;
}

.sortable_block .feedback .correct {
  color: green;
  display: none;
}

.sortable_block .feedback .incorrect {
  color: orange;
  display: none;
}